<mat-sidenav-container class="dashboard-layout">
  <mat-sidenav-content class="main-content">
    <!-- Sidebar -->
    <aside class="sidebar" [class.open]="sidebarOpen">
      <ul class="menu">
        <li><a href="#">Hem</a></li>
        <li><a href="#">Shorts</a></li>
        <li><a href="#">Prenumerationer</a></li>
      </ul>
      <hr />
      <ul class="menu">
        <li><a href="#">Historik</a></li>
        <li><a href="#">Spellistor</a></li>
        <li><a href="#">Dina videor</a></li>
        <li><a href="#">Titta senare</a></li>
        <li><a href="#">Videor du gillat</a></li>
      </ul>
    </aside>
  </mat-sidenav-content>
</mat-sidenav-container>
