.sidebar {
  position: fixed;
  top: 56px; /* Placeras under Topbar */
  left: 0;
  width: 240px;
  height: calc(100vh - 56px);
  background-color: #181818;
  color: white;
  padding: 10px;
  z-index: 2;
  transition: transform 0.3s ease-in-out;

  /* Döljer sidomenyn om den inte är öppen */
  transform: translateX(-100%);

  &.open {
    transform: translateX(0); /* Visar sidomenyn */
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 10px;

      a {
        text-decoration: none;
        color: #ccc;

        &:hover {
          color: white;
        }
      }
    }
  }
}
